/*------------------------------------*\
  # 1-BASE : VARIABLE
\*------------------------------------*/

:root {
  --couleur-primaire-background-1: #901C1C;
  --couleur-primaire-front-1: white;
  --couleur-primaire-background-2: white;
  --couleur-primaire-front-2: #D3573C;

  --couleur-secondaire-background-1: #D3573C;
  --couleur-secondaire-front-1: black;
  --couleur-secondaire-background-2: #FAFAFA;
  --couleur-secondaire-front-2: #525252;
  --couleur-secondaire-background-3: white;
  --couleur-secondaire-front-3: #901C1C;

  --couleur-border-link: #C4C4C4;
}