/*------------------------------------*\
# 5-Pages : PHOTOGRAPHE
\*------------------------------------*/

#photographe_header {
    /* background-color:grey; */
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* float: left; */
    align-items: center;
}

svg {
    width: calc(20% - 60px);
    height: auto;
    padding: 50px 30px;
    min-width: 200px;
    display: inline-block;
}

#top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* background-color: cadetblue; */
    width: calc(100% - 60px);
    height: auto;
    padding: 0 30px;
    background-color: var(--couleur-secondaire-background-2);
    border-radius: 10px;
    padding-top: 30px;
}

#txt {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#filtres {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: chartreuse; */
}

h1 {
    color: var(--couleur-primaire-front-2);
    padding-top: 0;
    margin-top: 0;
}

h2 {
    color: var(--couleur-secondaire-front-3);
}

p {
    color: var(--couleur-secondaire-front-2);
}

.square_photographe {
    float:left;
    position: relative;
    width: 95%;
    padding-bottom : 95%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 50%;
}

#top_img{
    width: 30%;
    min-width: 100px;
    max-width: 180px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: cadetblue; */
}

#photographe_header {
    /* background-color:grey; */
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* float: left; */
    align-items: center;
}

#photographe_main {
    width: 90%;
    margin: auto;
    height: auto;
}

#main_top {
    display: flex;
    align-items: baseline;
}
.select_width {
    width: 200px;
    margin-left: 20px;
    height: 35px;
}



.border_bottom_none {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.square_video {
    height: 95%;
    width: 95%;    
    object-fit :cover;
    margin:1.66%;
    border-radius: 3%;
}


.galerie {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(221, 221, 221, 0.76);
    /* background-color: rosybrown; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.galerie_container {
    height: 95%;
    width: 95%;
    /* background-color: silver; */
    margin:auto;
    display: flex;
		flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.galerie_square_photo {
    /* float:left;
    position: relative; */
    width: 90%;
    /* padding-bottom : 20%; = width for a 1:1 aspect ratio */
    height: 90%;
    /* margin:1.66%; */
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
    border-radius: 5%;
    /* background-color: sandybrown; */
    margin: auto;
    
    position: relative;
}


 
.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
}


.test_pic {
    width:auto;
    max-width: 78%;
    height:100%;
    object-fit: contain;
    /* background-color: slateblue; */
}

.space{
    width: 10%;
    height:100%;
    /* background-color: steelblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrow {
    width: 1px;
    height: 1px;
    border: solid black;
    border-width: 0 5px 5px 0;
    padding: calc(10% + 4px);
    margin: 5px;    
    cursor: pointer;
    background-color:tomato;
}

.mdiv {
    height: 5px;
    width: calc(19px + 30%);
    background-color: black;
    transform: rotate(45deg);
    Z-index: 1;
    /* position: absolute;
    top: 4%; */
    cursor: pointer;
  }
  
  .md {
    height: 5px;
    width: 100%;
    background-color: black;
    transform: rotate(90deg);
    Z-index: 2;
  }

  .box{
      width: 100%;
      background-color: yellow;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor:pointer;
  }

  .box_close{
    width: 100%;
    background-color: orange;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    cursor:pointer;
}
.box_close:hover{
    background-color: rgb(255, 123, 0);
}

    .box:hover{
        background-color:rgb(255, 230, 0);
    }

    .galerie_onclick {
        cursor: pointer;
    }


		.test_vid {
			width:auto;
			max-width: 78%;
			height:100%;
			object-fit: contain;
			/* background-color: slateblue; */
	}