/*------------------------------------*\
# 4-Components : CARTE PHOTO avec ratio
\*------------------------------------*/

#collection_photos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: cadetblue; */
  }

.container_carte_photo {
    width: 90%;
    max-width: 380px;
    /* background-color: palegoldenrod; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    margin: 10px 0px;
}

@media (min-width: 700px) {
  
    .container_carte_photo {
      min-width: 250px;
      /* max-width: 100%; */
      width: calc(45% - 40px);
      margin: 20px;
    }
  }
  @media (min-width: 1000px) {
  
    .container_carte_photo {
      width: calc(30% - 20px);
    }
  }

  @media (min-width: 1600px) {
      .container_carte_photo {
      margin: 20px 70px;
      }
  }

  @media (min-width: 2000px) {
    .container_carte_photo {
    margin: 20px 100px;
    /* max-width: 450px; */
    max-width: 20%;
    }
  }

.under_part_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: palevioletred; */
}
    .under_part_img > h2 {
        color: var(--couleur-primaire-front-2);
        text-decoration: none;
        padding: 10px 0;
        margin: 0;
    }

    a.under_part_img {
        text-decoration: none;
    }

.under_part_txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: peru; */
}

    .under_part_txt > h3 {
        color: var(--couleur-secondaire-front-3);
        padding: 0;
        margin: 0;
    }

    .under_part_txt > p {
        color: black;
        padding: 5px 0;
        margin: 0;
    }

    .under_part_txt > p.price {
        color: var(--couleur-secondaire-front-2);
    }

.under_part_link {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
    margin-bottom: 0px;
    /* background-color: powderblue; */
}

    .under_part_link > P {
        margin: 2px;
    }
.square_photo {
    float:left;
    position: relative;
    width: 95%;
    padding-bottom : 95%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 3%;
}

.photo_txt {
    width: 95%;
    margin:1.66%;
    display: flex;
    justify-content: space-between;
}
.photo_txt > div {
    display: flex;
}

.photo_txt > div > p {
    display: flex;
    margin-left: 20px;
}

.photo_txt > p, .photo_txt > div > p {
    padding-top: 0;
    margin-top: 0;
    color: var(--couleur-secondaire-front-3);
}